* {
  font-family: "Adwaita Sans";
  font-size: 16px;
  border-radius: 4px;
  font-weight: normal;
}

@define-color transparent transparent;
@define-color highlight-background #3B4252;
@define-color tooltip-text #ECEFF4;
@define-color tooltip-background #434C5E;
@define-color background #2E3440;
@define-color primary-text #D8DEE9;
@define-color focused-color #BF616A;
@define-color highlight-text #EBCB8B;
@define-color secondary-background #4C566A;
@define-color inactive-color #616E88;
@define-color occupied-color #A3BE8C;
@define-color hover-color #BF616A;
@define-color temperature-color #BF616A;
@define-color pulseaudio-color #B48EAD;
@define-color cpu-color #D08770;
@define-color memory-color #88C0D0;
@define-color tray-color #5E81AC;
@define-color network-color #81A1C1;
