@import url("./theme.css");

/* Tooltip Styles */
tooltip {
  border: 2px solid @highlight-background;
  color: @tooltip-text;
  background: @tooltip-background;
  border-radius: 5px;
  padding: 8px;
  margin: 0 10px;
}

window#waybar {
  background: @transparent;
}

/* Modules */
#window,
#mode,
#workspaces,
#temperature,
#pulseaudio,
#cpu,
#memory,
#tray,
#network,
#clock,
#battery,
#language,
#bluetooth,
#mpris {
  color: @primary-text;
  padding: 0 8px;
  margin-left: 8px;
  border-radius: 0;
  border-bottom: 1px solid transparent;
  transition: 0.5s all;
}

#network,
#memory {
  margin-left: 0;
  padding-left: 0;
}

#mode:hover,
#temperature:hover,
#pulseaudio:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#tray:hover,
#network:hover,
#clock:hover,
#mpris:hover,
#language:hover,
#bluetooth:hover,
#custom-notification:hover {
  border-bottom: 1px solid @hover-text;
  color: @hover-text;
}

#custom-appmenu {
  font-size: 2rem;
  color: @primary-text;
  padding-left: 5px;
  padding-right: 8px;
  transition: all 0.5s;
}

#custom-appmenu:hover {
  color: @background;
  background: @hover-color;
}

/* Workspace Buttons */
#workspaces button {
  background: @transparent;
  color: @inactive-color;
  padding: 0;
  margin: 0;
  border-radius: 0;
  transition: all 0.5s;
}

#workspaces button.occupied {
  color: @occupied-color;
  font-size: 12px;
}

#workspaces button.focused {
  color: @focused-color;
  background: @highlight-background;
  border-bottom: 2px solid @focused-color;
}

#workspaces button:hover {
  color: @hover-color;
  background: @highlight-background;
}

#workspaces button.active {
  color: @tooltip-text;
  font-weight: bold;
  border-bottom: 2px solid @hover-color;
}


/* Individual Module Colors */

#temperature {
  color: @temperature-color;
}

#pulseaudio {
  color: @pulseaudio-color;
}

#cpu {
  color: @cpu-color;
}

#memory {
  color: @memory-color;
}

#tray {
  color: @tray-color;
}

#network {
  color: @network-color;
}

/* MPRIS */
#mpris {
  color: @temperature-color;
  transition: color 0.3s;
}

#custom-notification {
  color: @primary-text;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
  background: @transparent;
  transition: all 0.3s;
  border-radius: 0;
  color: @pulseaudio-color;
}

/* Layout */
.modules-left {
  padding-left: 15px;
}

.modules-right {
  padding-right: 15px;
}

.modules-left,
.modules-center,
.modules-right {
  margin-top: 6px;
  font-weight: 600;
}