@import url("./theme.css");



.floating-notifications.background .notification-row {
  padding: 0.25rem;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 4px;
  background-color: @tooltip-background;
  color: @tooltip-text;
  border: 1px solid #BF616A;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 0.25rem;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 1px solid @focused-color;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  margin: 0.25rem;
  color: @primary-text;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  margin: 0.25rem;
  color: @inactive-color;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* {
  min-height: 1rem;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action {
  color: @primary-text;
  background-color: @secondary-background;
  border: 1px solid @primary-text;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
  background-color: @highlight-background;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
  background-color: @primary-text;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 0.25rem;
  padding: 0.25rem;
  color: @primary-text;
  background-color: @focused-color;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  color: @background;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @hover-color;
}

.control-center {
  margin: 1rem;
  background-color: @background;
  color: @primary-text;
  padding: 1rem;
  border: 2px solid @network-color;
}

.control-center .widget-title {
  color: @primary-text;
}

.control-center .widget-title button {
  color: @primary-text;
  border: 1px solid @transparent;
  padding: 0.2rem;
}

.control-center .widget-title button:hover {
  color: @memory-color;
}

.control-center .widget-title button:active {
  color: @memory-color;
}

.control-center .notification-row .notification-background {
  margin: 0.5em;
  background-color: @secondary-background;
  color: @primary-text;
  /* border: 1px solid @primary-text; */
}

.control-center .notification-row .notification-background .notification.critical {
  border: 1px solid @focused-color;
}

.control-center .notification-row .notification-background .notification .notification-content {
  padding: 0.25rem;
  color: @primary-text;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  margin: 0.5rem;
  color: @primary-text;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  margin: 0.5rem;
  color: @inactive-color;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action {
  color: @primary-text;
  background-color: @secondary-background;
  border: 1px solid @primary-text;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
  background-color: @highlight-background;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
  background-color: @primary-text;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.25rem;
  padding: 0.25rem;
  color: @primary-text;
  background-color: @focused-color;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: @background;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @hover-color;
}

progressbar,
progress,
trough {
  border-radius: 4px;
}

.notification.critical progress {
  background-color: @focused-color;
}

.notification.low progress,
.notification.normal progress {
  background-color: @memory-color;
}

trough {
  background-color: @secondary-background;
}

.control-center trough {
  background-color: @primary-text;
}

.control-center-dnd {
  margin: 1rem 0;
}

.control-center-dnd slider {
  background: @secondary-background;
}

.widget-dnd {
  color: @inactive-color;
}

.widget-dnd>switch {
  background: @secondary-background;
  border: 1px solid @primary-text;
}

.widget-dnd>switch:checked slider {
  background: @pulseaudio-color;
}

.widget-dnd>switch slider {
  background: @primary-text;
  margin: 0.25rem;
}

.widget-mpris {
  color: @primary-text;
}

.widget-mpris-player {
  padding: 8px;
  margin: 8px;
  color: @primary-text;
  background: @background;
}

.widget-mpris-title {
  color: @primary-text;
}

.widget-mpris-subtitle {
  color: @primary-text;
}